language: bash

env:
  global:
    - VERSION=1.${TRAVIS_BUILD_NUMBER}
  matrix:
    - ARCH=armhf

sudo: required

services:
  - docker

before_install:
  - docker run --rm --privileged multiarch/qemu-user-static:register

script:
  - docker build -t rknuu/puppetserver-aarch64 .